/* MAPAS */
/* NORMALIZE */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  background-color: #161616;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navbar-nav a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.navbar-nav a:hover {
  color: #f40909;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .escudo {
    content: url(../img/escudo.svg);
  }
}

/* MAIN  */
main {
  background-image: url(../img/noticiamain.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 0px);
}

.noticiamain {
  color: white;
  height: 240px;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.845);
  border-bottom: #f40909 solid 20px;
  overflow: hidden;
}

.noticia {
  color: #7a7a7a;
}

.subtexto {
  color: white;
  font-weight: 200;
}

/* ULTIMAS NOTICIAS */
.btn {
  font-weight: bold;
  color: #f40909;
}

.btn:hover {
  color: white;
  background-color: #f40909;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card {
  border-radius: 8px;
  -webkit-box-shadow: rgba(64, 64, 64, 0.501) 0px 2px 8px 0px;
          box-shadow: rgba(64, 64, 64, 0.501) 0px 2px 8px 0px;
  border: 0;
  overflow: hidden;
}

.partido {
  background-color: #161616;
  border-bottom: 10px solid #f40909;
  color: white;
}

/* FUTBOL */
.futbol, .hockey, .historia, .contacto {
  margin-top: 100px;
}

/* HOCKEY */
/* HISTORIA */
.img-historia {
  border-radius: 10px;
}

/* CONTACTO */
.contacto-card {
  border-radius: 8px;
  -webkit-box-shadow: rgba(64, 64, 64, 0.501) 0px 2px 8px 0px;
          box-shadow: rgba(64, 64, 64, 0.501) 0px 2px 8px 0px;
  background-color: #161616;
}

.enviar {
  background-color: #f40909;
}

/* FOOTER */
.footer {
  background-color: #161616;
  color: white;
  border-top: #f40909 20px solid;
  height: 340px;
}

.footer ul {
  margin-top: 35px;
}

.footer i {
  color: white;
  font-size: 35px;
}

.footer i:hover {
  color: #f40909;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.segui {
  -webkit-animation: movimiento 2s ease-out infinite;
          animation: movimiento 2s ease-out infinite;
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */