/* MAPAS */
$colores: (
    color1: rgb(244, 9, 9),
    color2: rgb(22, 22, 22),
    color3: rgb(255, 255, 255),
);

$color1: map-get($colores, color1);
$color2: map-get($colores, color2);
$color3: map-get($colores, color3);

/* NORMALIZE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 95%;
}

/* NAVBAR */

.navbar {
    background-color: $color2;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navbar-nav {
    a {
        color: $color3;
        font-weight: bold;
        font-size: 14px;
    }
}

.navbar-nav {
    a:hover {
        color: $color1;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 576px) {
    .escudo {
        content: url(../img/escudo.svg);
    }
}


/* MAIN  */

.body1{
    background-color: rgb(246, 239, 239);
}

main {
    background-image: url(../img/noticiamain.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh);
}


.noticiamain {
    color: $color3;
    height: 220px;
    width: 100%;
    background: rgb(22, 22, 22);
    background: linear-gradient(0deg, rgba(22, 22, 22, 0.722) 37%, rgba(14, 14, 14, 0) 100%);
    border-bottom: $color1 solid 10px;
    overflow: hidden;
}

.noticia {
    color: rgb(200, 200, 200);
}

.subtexto {
    color: $color3;
    font-weight: 200;
}

// MIXIN

@mixin card ($radius, $eje1, $eje2, $eje3) {
    border-radius: $radius;
    box-shadow: rgba(0, 0, 0, 0.1) $eje1 $eje2 $eje3;
}

/* ULTIMAS NOTICIAS */

.arecodias{
    
    font-size: 12px;
    
    a{
        text-decoration: none;
        font-size: 12px;
        color: $color2;
    }
    
}

.linkareco:hover{
    font-weight: bold;
}


h5 {
    border-bottom: solid 0.5px $color1;
}

.titles{
    
    h5{
        border-bottom: none;
        color: $color1;
    }

    i{
        font-size: 20px;
        color: $color1;
    }
}

.btn {
    text-decoration: none;
    color: $color1;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn:hover {
    color: $color3;
    background-color: $color1;
    transition: all 0.2s ease-in-out;
}

.card {
    @include card (4px, 0px, 4px, 12px);
    border: 0;
    overflow: hidden;
}

.card-notice{
    transition: all 0.3s ease-in-out 0.1s;

    a{
        text-decoration: none;
        color: $color2;
    }
}

.card-notice:hover{
    transform: translateY(-8px);
    box-shadow: rgba(0, 0, 0, 0.233) 0px 4px 12px;
}

.partido {
    background-color: $color3;
    border-bottom: 10px solid $color1;
    color: $color2;
    padding: 0;
}

.partido {
    h5 {
        border: none;
    }

    p{
        color: rgba(22, 22, 22, 0.601);
    }

    h6{
        font-size: 20px;
    }
}

.img-container{
    height: 350px;
}

.img-card {
    object-fit: cover;
    width: 100%;
    height: 100%;
      
}

.card-extra {
    @extend .partido;
}

.card-extra {
    h5 {
        text-align: center;
        border-bottom: 0.5px solid rgb(244, 9, 9);
    }
}

.tabla {
    p {
        margin: 0;
    }
}

.puntos {
    color: $color1;
    font-weight: bold;
}

.pj {
    color: rgba(72, 72, 72, 0.638);
}

// VIDEO

.video {
    padding-bottom: 50px;
}

.container-video{
    border-radius: 5px;
}

.video-text{
    line-height: 70px;
    text-align: center;
    font-size: 60px;
}

.video-text-span{
    color: $color1;
}

/* FUTBOL */

.futbol {
    margin-top: 100px;
}

.img-fh{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.titles-f{
    h5{

        border-bottom: none
    }
}

/* HOCKEY */

.hockey {
    @extend .futbol;
}

/* HISTORIA */

.historia {
    @extend .futbol;
}

.img-historia {
    border-radius: 5px;
}

/* CONTACTO */

.contacto {
    @extend .futbol;
}

.contacto-card {
    @include card (4px, 0px, 4px, 12px);
    background-color: $color2;
}

.contacto-card{
    label{
        color: $color3;
    }

    h5{
        color: $color1;
        border-bottom: none;
    }

    p{
        color: $color3;
    }
    
}

.contacto-r{
    border-left: solid 0.5px $color1;
}

@media (max-width: 768px){
    .contacto-r{
        border-left: none;
    }
}

.enviar {
    background-color: $color1;
    border-radius: 4px;
}

/* FOOTER */

.footer {
    background-color: $color2;
    border-bottom: $color1 5px solid;
    color: $color3;
    height: 330px;
}

@media (min-width:768px){
    .footer{
        height: 260px;
    }
}

.copy{
    color: rgb(124, 124, 124);
    font-size: 14px;
}

.footer {
    ul {
        margin-top: 25px;
    }
}

.footer {
    i {
        border-radius: 4px;
        padding: 8px;
        color: $color3;
        font-size: 25px;
        background-color: rgb(9, 9, 9);
    }
}

.footer {
    i:hover {
        color: $color1;
        transition: all 0.3s ease-in-out;
    }
}


.footer-bottom{
    border-top: 0.5px solid rgba(124, 124, 124, 0.159);
}
