/* MAPAS */
$colores: (
    color1: rgb(244, 9, 9),
    color2: rgb(22, 22, 22),
    color3: rgb(255, 255, 255),
);

$color1: map-get($colores, color1);
$color2: map-get($colores, color2);
$color3: map-get($colores, color3);

/* NORMALIZE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 95%;
}

/* NAVBAR */

.navbar {
    background-color: $color2;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.navbar-nav {
    a {
        color: $color3;
        font-weight: bold;
        font-size: 14px;
    }
}

.navbar-nav {
    a:hover {
        color: $color1;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 576px) {
    .escudo {
        content: url(../img/escudo.svg);
    }
}


/* MAIN  */

main {
    background-image: url(../img/noticiamain.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100vh);
}

.noticiamain {
    color: $color3;
    height: 220px;
    width: 100%;
    background: rgb(22, 22, 22);
    background: linear-gradient(0deg, rgba(22, 22, 22, 0.722) 37%, rgba(14, 14, 14, 0) 100%);
    border-bottom: $color1 solid 10px;
    overflow: hidden;
}

.noticia {
    color: rgb(200, 200, 200);
}

.subtexto {
    color: $color3;
    font-weight: 200;
}

// MIXIN

@mixin card ($radius, $eje1, $eje2, $eje3, $eje4) {
    border-radius: $radius;
    box-shadow: rgba(0, 0, 0, 0.12) $eje1 $eje2 $eje3, rgba(0, 0, 0, 0.24) $eje1 $eje2 $eje4;
}

/* ULTIMAS NOTICIAS */

.arecodias{
    
    font-size: 12px;
    
    a{
        text-decoration: none;
        font-size: 12px;
        color: $color2;
    }
    
}

.linkareco:hover{
    font-weight: bold;
}

h4 {
    font-weight: normal;
    color: $color2;
}

h5 {
    border-bottom: solid 0.5px $color1;
}

.btn {
    font-weight: bold;
    color: $color1;
}

.btn:hover {
    color: $color3;
    background-color: $color1;
    transition: all 0.2s ease-in-out;
}

.card {
    @include card (4px, 0px, 1px, 3px, 2px);
    border: 0;
    overflow: hidden;
}

.partido {
    background-color: $color2;
    border-bottom: 10px solid $color1;
    color: $color3;
    padding: 0;
}

.partido {
    h5 {
        border: none;
    }
}

.img-card {
    object-fit: cover;
    width: 100%;
    height: 100%;
      
}

.card-extra {
    @extend .partido;
}

.card-extra {
    h5 {
        text-align: center;
        border-bottom: 0.5px solid rgb(244, 9, 9);
    }
}

.tabla {
    p {
        margin: 0;
    }
}

.puntos {
    color: $color1;
    font-weight: bold;
}

.pj {
    color: rgba(224, 224, 224, 0.638);
}

// VIDEO

.video {
    padding-bottom: 50px;
}

/* FUTBOL */

.futbol {
    margin-top: 100px;
}

.img-fh{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* HOCKEY */

.hockey {
    @extend .futbol;
}

/* HISTORIA */

.historia {
    @extend .futbol;
}

.img-historia {
    border-radius: 5px;
}

/* CONTACTO */

.contacto {
    @extend .futbol;
}

.contacto-card {
    @include card (4px, 0px, 1px, 3px, 2px);
    background-color: $color2;
}

.contacto-card{
    label{
        color: $color3;
    }

    h5{
        color: $color1;
        border-bottom: none;
    }

    p{
        color: $color3;
    }
    
}

.contacto-r{
    border-left: solid 0.5px $color1;
}

@media (max-width: 768px){
    .contacto-r{
        border-left: none;
    }
}

.enviar {
    background-color: $color1;
}

/* FOOTER */

.footer {
    background-color: $color2;
    border-bottom: $color1 5px solid;
    color: $color3;
    height: 330px;
}

@media (min-width:768px){
    .footer{
        height: 260px;
    }
}

.copy{
    color: rgb(124, 124, 124);
    font-size: 14px;
}

.footer {
    ul {
        margin-top: 25px;
    }
}

.footer {
    i {
        border-radius: 4px;
        padding: 8px;
        color: $color3;
        font-size: 25px;
        background-color: rgb(9, 9, 9);
    }
}

.footer {
    i:hover {
        color: $color1;
        transition: all 0.3s ease-in-out;
    }
}


.footer-bottom{
    border-top: 0.5px solid rgba(124, 124, 124, 0.159);
}

.segui {
    animation: movimiento 2s ease-out infinite;
}

@keyframes movimiento {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}